<% content_for :page_title, @service.label %>

<%= render "govuk_publishing_components/components/heading", {
  text: @service.label,
  heading_level: 1,
  font_size: "l",
  margin_bottom: 5,
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/summary_list", ServicePresenter.new(@service).summary_list(self) %>
  </div>
</div>

<%= render partial: "shared/links_table", locals: { links_table_presenter: LinksTablePresenter.new(@service.links, self, remove_service: true) } %>
