<nav class="home-nav">
  <ul class="nav nav-tabs">
    <li role="presentation"<% if controller_name == 'links' %> class="active"<% end %>><%= link_to 'Broken links', root_path %>
    <li role="presentation"<% if controller_name == 'local_authorities' %> class="active"<% end %>><%= link_to 'Councils', local_authorities_path %></li>
    <li role="presentation"<% if controller_name == 'services' %> class="active"<% end %>><%= link_to 'Services', services_path %></li>
  </ul>
</nav>
