<% content_for :page_title, @authority.name %>

<% if flash[:success] %>
<div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% breadcrumb :services, @authority %>

<%= render partial: "shared/local_authority_details", locals: { authority: @authority } %>

<table class="table table-bordered table-service">
  <thead>
    <tr class="table-header">
      <th class='center'>Code</th>
      <th width:'40%'>Services and links</th>
      <th>Link status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'service', collection: @services, locals: { links: @links } %>
  </tbody>
</table>
