<% content_for :page_title, @authority.name %>

<% if flash[:success] %>
<div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% breadcrumb :services, @authority %>

<%= render partial: "shared/local_authority_details", locals: { authority: @authority } %>

<% if @links.any? %>
  <table class="table table-bordered table-service">
    <thead>
      <tr class="table-header">
        <th class='center'>Code</th>
        <th width:'40%'>Services and links</th>
        <th>Link status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <% links_by_service = @links[service.id] %>
        <% next if links_by_service.blank? %>
        <% first_link, *remaining_links = links_by_service %>
        <%= render 'shared/link_table_row', link: ServiceLinkPresenter.new(first_link, view_context: self, first: true) %>
        <% remaining_links.each do |link| %>
          <%= render 'shared/link_table_row', link: ServiceLinkPresenter.new(link, view_context: self, first: false) %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>No local services found</h4>
<% end %>
