$light-grey: #dddddd;

table .center {
  text-align: center;
}

.table-service {
  th h3 {
    margin: 10px;
  }

  h4 {
    margin-top: 0;
  }

  .first-row {
    border-top: 1px solid $light-grey;

    .lgsl p {
      display: block;
    }

    h4 {
      display: block;
    }
  }

  tr {
    .lgsl p {
      display: none;
    }

    h4 {
      display: none;
    }
  }

  .name p { @extend %wrap-words; }

  td {
    // stylelint-disable declaration-no-important
    padding: 15px 20px !important;
    border-top: none !important;
    border-bottom: none !important;
    // stylelint-enable declaration-no-important
  }

  .status {
    width: 180px;
  }
}

.table-with-counts {
  font-size: 1.2em;

  th,
  td {
    .count {
      float: right;
      font-size: 75%;
    }

    .count span {
      font-size: 3.8em;
      font-weight: bold;
      margin-left: -11px;
    }

    .name {
      font-weight: bold;
      font-size: 1.25em;
    }
  }

  th .count span {
    padding-right: 4px;
  }

  td .count span {
    display: block;
  }

  td .count.plural::after {
    content: "broken links";
  }

  td .count.singular::after {
    content: "broken link";
  }
}

.table-with-controls {
  th,
  td {
    .sort-order-dropdown {
      float: left;
      width: 22%;
    }

    .filter-control {
      float: left;
      width: 78%;

      @media (max-width: 1199px) { // stylelint-disable-line max-nesting-depth, media-feature-range-notation
        clear: left;
        margin-top: 20px;
      }

      @media (max-width: 991px) { // stylelint-disable-line max-nesting-depth, media-feature-range-notation
        width: 100%;
      }
    }

    .filter-control-full-width {
      width: 100%;
    }
  }
}

.table > tbody > tr > td {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: bottom;
}

.table-with-analytics {
  th .broken-count {
    float: left;
    font-size: 2em;
    font-weight: normal;
    margin-left: 5px;
    margin-top: 10px;
  }

  td {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .analytics {
    padding-top: 40px;
    width: 100px;
    display: block;

    span {
      font-size: 2em;
      display: block;
    }
  }

  .count {
    float: right;
    font-size: 75%;
    font-weight: normal;
    margin-left: 5px;
    margin-top: 10px;

    span {
      display: block;
      font-size: 3.8em;
      font-weight: bold;
      margin-left: -11px;
    }
  }

  td .govuk {
    font-size: 1.9em;

    .code {
      font-size: 14px;
    }
  }

  .name {
    font-weight: bold;
    font-size: 1.5em;
  }

  .label {
    font-size: 14px;
  }

  .status > span {
    padding-top: 5px;
    display: block;
  }
}
