table.table-with-counts {
  font-size: 1.2em;

  th, td {
    .count {
      float:right;
      font-size: 75%;

      span {
        font-size: 3.8em;
        font-weight: bold;
        margin-left: -11px;
      }
    }

    .name {
      font-weight: bold;
      font-size: 1.25em;
    }
  }

  th .count span { padding-right: 4px; }
  td .count span { display: block; }
}

table.table-with-controls {
  th, td {
    float: left;
    width: 100%;

    .sort-order-dropdown {
      float: left;
      width: 22%;
    }

    .filter-control {
      float: left;
      width: 78%;

      @media (max-width: 1199px){
        clear: left;
        margin-top: 20px;
      }

       @media (max-width: 991px){
        width: 100%;
      }
    }
  }
}
