@import "govuk_admin_template";
@import "components/word_wrapper";
@import "components/tables";

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.nav.nav-tabs {
  *[role="presentation"] {
    a {
      background-color: $component-active-bg;
      color: $component-active-color;
      border-bottom-color: $nav-tabs-border-color;

      &:hover {
        background-color: darken($component-active-bg, 15%);
        border-color: darken($component-active-bg, 15%);
      }

      margin-right: 10px;
    }
  }

  *[role="presentation"].active {
    a {
      background-color: $body-bg;
      border-bottom-color: $body-bg;
      color: $text-color;

      &:hover {
        border-color: $nav-tabs-border-color;
        border-bottom-color: $body-bg;
      }
    }
  }
}
